<div class="header-wrapper row m-0">
    <app-search></app-search>
    <div class="header-logo-wrapper col-auto p-0">
        <app-header-logo [icon]="'align-center'" [type]="'header'"></app-header-logo>
    </div>

    <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
        <app-header-notice></app-header-notice>
    </div>

    <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
        <ul class="nav-menus">

            <li class="language-nav" (click)="toggleLanguage()" (clickOutside)="clickOutside()">
                <app-header-language></app-header-language>
            </li>

            <li class="fullscreen-body">
                <app-toggle-screen></app-toggle-screen>
            </li>

            <li>
                <app-svg-icon [icon]="'search'" (click)="openSearch()"></app-svg-icon>
            </li>

            <li>
                <app-mode></app-mode>
            </li>

            <li class="profile-nav onhover-dropdown pe-0 py-0">
                <app-profile></app-profile>
            </li>
        </ul>
    </div>
</div>