<app-card [headerTitle]="'Device Overview'" [padding]="false" [cardClass]="'heading-space'"
    [cardBodyClass]="'px-0 pt-0 seller-table'" [dropdownType]="'simple'" [options]="cardToggleOption">
    <div class="recent-table table-responsive custom-scrollbar employee-list-table">
        <app-table [tableConfig]="tableConfig" [hasCheckbox]="true" [pageSize]="4" [paginateDetails]="true"
            [showPaginate]="true" [tableClass]="'table'" (action)="handleAction($event)"></app-table>
    </div>
</app-card>