@if(currentUser) {
<div class="col-sm-12">
  <div class="card hovercard text-center common-user-image">
    <div class="cardheader">
      <div class="user-image">
        <div class="avatar">
          <div class="common-align">
            <div>
              @if(user.user_profile){
              <img [src]="user.user_profile" alt="Profile Image" id="output" />
              }
              <input type="file" accept="image/*" #fileInput hidden />
            </div>
            <div class="user-designation">
              <a target="_blank" href="">{{ currentUser.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card user-bio">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start">
            <h6><i class="fa-solid fa-envelope pe-2"></i> Email</h6>
            <span>{{ currentUser.email }}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start">
            <h6><i class="fa-solid fa-calendar-days pe-2"></i>Birthday Date</h6>
            <span>{{ currentUser.DOB }}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start">
            <h6><i class="fa-solid fa-phone pe-2"></i>Contact Us</h6>
            <span>{{ currentUser.contact_number }}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="ttl-info text-start pb-0">
            <h6><i class="fa-solid fa-location-arrow pe-2"></i>Location</h6>
            <span>{{ currentUser.location }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @else { No User Found }
