<app-card
  [headerTitle]="'Settings'"
  [border]="true"
  [padding]="false"
  [cardBodyClass]="'setting-wrapper'"
>
  <div class="row g-md-3 g-2">
    <div class="col-md-3">
      <label class="form-label mb-0">Remove Accounts</label>
    </div>
    <div class="col-md-9">
      <div class="form-check form-switch form-check-inline">
        <input
          class="form-check-input switch-primary check-size"
          type="checkbox"
          role="switch"
          checked=""
        />
        <p>
          Permanently remove your account and all related information from the
          platform.
        </p>
      </div>
      <div class="common-flex mt-3">
        <a
          class="btn button-light-danger disabled"
          href="javascript:void(0)"
          role="button"
          >Disable Account</a
        >
        <a class="btn btn-danger" href="javascript:void(0)" role="button"
          >Delete Account</a
        >
      </div>
    </div>
  </div>
</app-card>
